.card-header {
    background-color: #60B82E !important;
    color: #ffffff;
    font-weight: bold;
}

.card {
    border-color: #60B82E !important;
}

/* BTN PRIMARY STYLE START */
.btn-primary {
    background-color: #e58f14 !important;
    border-color: #e58f14 !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #e58f14 !important;
    border-color: #e58f14 !important;
}

.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #e58f14 !important;
    border-color: #e58f14 !important;
}
/* BTN PRIMARY STYLE END */

.form-group.required .control-label:after { 
   content:"*";
   color:red;
}

.nav-link {
    color:#000000;
}